{% extends "layout.html" %}
{% block body %}
<div class="container2">
    <div id="main-wrapper">
        <ul class="breadcrumb">
            <li class="active-trail"><a href="/analiza"><i class="fa fa fa-home"></i><span> Ir a lista</span></a>
            </li>
            <h3><b>Análisis a Nivel Regiones</b></h3>
        </ul>
    </div>
    <div class="row">
        <div class="grupo-a">
            <h3>Indicadores Globales</h3>
            <p>Como se puede apreciar, el índice de anemia no ha presentado mejoría significativa en los últimos años,
                ya que desde el 2011 que presentó un valor de 41,6%, solo hemos podido reducir 2,8% en los últimos 10
                años. Si analizamos las cifras por región natural, podremos notar que la sierra ha sido, casi siempre,
                la región más afectada y, por el contrario, Lima metropolitana o ciudad, ha sido la que ha mantenido
                mejor este indicador.</p>
            <div class='tableauPlaceholder' id='viz1656501418651' style='position: relative'><noscript><a href='#'><img
                            alt='Vista_Reg '
                            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DB&#47;DB_IndAnemia_regional&#47;Vista_Reg&#47;1_rss.png'
                            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='DB_IndAnemia_regional&#47;Vista_Reg' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DB&#47;DB_IndAnemia_regional&#47;Vista_Reg&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='es-ES' />
                </object></div>
            <script
                type='text/javascript'>                    var divElement = document.getElementById('viz1656501418651'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '1527px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
        
            <h3>Factores Demográficos y Económicos</h3>
            <p>Aquí hemos realizado la comparación entre el año 2009 y el 2021, los cuales se pueden visualizar
                utilizando el filtro de año.</p>
            <div class='tableauPlaceholder' id='viz1656501330311' style='position: relative'><noscript><a href='#'><img
                            alt='Vista_RegDet '
                            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DB&#47;DB_IndAnemia_regional&#47;Vista_RegDet&#47;1_rss.png'
                            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='DB_IndAnemia_regional&#47;Vista_RegDet' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DB&#47;DB_IndAnemia_regional&#47;Vista_RegDet&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='es-ES' />
                </object></div>
            <script
                type='text/javascript'>                    var divElement = document.getElementById('viz1656501330311'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '2727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
            <h3><u>Factores formativos y de Salud</u></h3>
            <p>Esta visualización se puede apreciar un análisis evolutivo a través de los años. Con respecto al grado de
                instrucción del responsable, se puede apreciar que el índice de anemia es menor para niños cuyo responsable
                </p>
            <div class='tableauPlaceholder' id='viz1656501214751' style='position: relative'><noscript><a href='#'><img
                                alt='Gnral_ProvDstr '
                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DB&#47;DB_IndAnemia_regional&#47;Gnral_ProvDstr&#47;1_rss.png'
                                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='DB_IndAnemia_regional&#47;Gnral_ProvDstr' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image'
                            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DB&#47;DB_IndAnemia_regional&#47;Gnral_ProvDstr&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='es-ES' />
                    </object></div>
                <script
                    type='text/javascript'>                    var divElement = document.getElementById('viz1656501214751'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '777px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
            <p><br> </br></p>
        </div>
    </div>
    <div id="main-wrapper">
        <ul class="breadcrumb">
            <li class="active-trail"><a href="/analizapais"><i class="fa-solid fa-angles-left"></i><span> Análisis País</span></a>
            </li>
            <li class="active-trail"><a href="/analiza"><span>Ir a lista </span><i class="fa fa fa-home"></i></a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}