{% extends "layout.html" %}
{% block body %}

<div class="container">
  <div class="grupo-b">
    <div class="box">
      <div class="parrafo_index">
        <h4>Bienvenido a SANITO PE!, una plataforma de consulta 
          de datos y visualizaciones, relacionadas con el índice 
          de anemia infantil en el Perú.
        </h4> 
        <h4>Nuestro objetivo principal es ser un aliado para 
          las instituciones, investigadores y personas que necesitan identificar 
          los factores que afectan a este indicador y facilitarles 
          visualizaciones y datos, que le permitan identificar y trabajar,
           de manera sencilla, la evolución de los indicadores que son de su interés.
        </h4> 
        <h4>La meta es que esta sitio sea colaborativo
          para poder seguir mejorando la calidad de las visualizaciones y de 
          los datos , por ello te animamos que puedas
          compartir tus trabajos por este medio, ya que de seguro serán valiosos
          para muchas personas.
        </h4>
        <h4>
          <b>Así que, ¡manos a la obra! o mejor debería decir: 
          ¡manos a los datos!</b>
        </h4>
      </div>
    </div>
    <div class="box">
      <figure>
        <a href="#">
            <img src="../static/Images/Presenta.gif" alt="Logo">
        </a>
      </figure>
    </div>
  </div>
</div>
{% endblock %}