{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="grupo-0">
      <h2><b>Nuestro equipo</b></h2>
      <p>Nuestro equipo actualmente está conformado por profesionales comprometidos con la educación e investigación. <br>
        Somos pocos, pero estamos convencidos en que pronto seremos más colaborando con hacer que la anemia infantil en el Perú sea un tema del pasado.</p>
    </div>

    <div class="grupo-c">
      <div class="box">
          <figure>
              <a href="#">
                  <img src="../static/Images/Katia.JPG" alt="Explora">
              </a>
          </figure>
          <h2>Katia Mendez</h2>
          <h5>Estudiante UPV</h5>
      </div>
      <div class="box">
        <figure>
          <a href="#">
              <img src="../static/Images/Angeles.jfif" alt="Explora">
          </a>
        </figure>
        <h2>Ángeles Calduch</h2>
        <h5>Docente UPV</h5>
      </div>
      <div class="box">
        <figure>
          <a href="#">
              <img src="../static/Images/Jorge.jfif" alt="Explora">
          </a>
        </figure>
        <h2>Jorge Serranos</h2>
        <h5>Docente UPV</h5>
      </div>
    </div>
  </div>  
</div>

{% endblock %}