{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="grupo-0">
      <h2><b>¿Que hacemos?</b></h2>
      <p>En Sanito Pe! nuestro objetivo es poner a tu disposición contenidos abiertos relacionados con la anemia infantil para que puedas explorar, analizar, descargar o crear aplicaciones y servicios con ellos. También queremos seguir mejorando juntos, por ello, es importante para nosotros que también puedas compartir tus conocimiento con la comunidad.</p>
    </div>
  <div class="grupo-d">
    <div class="box">
        <figure>
            <a href="/explora">
                <img src="../static/Images/Explora.png" alt="Explora">
            </a>
        </figure>
        <h4>EXPLORA</h4>
        <p>Busca por entidades o por fuentes de datos los elementos que necesites.</p>
    </div>
    <div class="box">
      <figure>
        <a href="/analiza">
            <img src="../static/Images/Analiza.png" alt="Explora">
        </a>
      </figure>
      <h4>ANALIZA</h4>
      <p>Revisa las visualizaciones de datos existentes y úsalas según lo requieras.</p>
    </div>
    <div class="box">
      <figure>
        <a href="/crea">
            <img src="../static/Images/Crea.png" alt="Explora">
        </a>
      </figure>
      <h4>CREA</h4>
      <p>Utiliza los datos o visualizaciones y adaptalos a tu necesidad.</p>
  </div>
    <div class="box">
      <figure>
        <a href="/comparte">
            <img src="../static/Images/Comparte.png" alt="Explora">
        </a>
      </figure>
      <h4>COMPARTE</h4>
      <p>Tu trabajo es valioso y puede ayudar a muchos a seguir investigando.</p>
    </div>
  </div>
</div>
{% endblock %}